{% extends "base.html" %}

{% block title %}Home Page{% endblock %}


{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile-main.css') }}">
    <div class="profile_view">
    <div id="profile_pic">

    </div>
    </div>
    <div class="username">
        hello
    </div>
    <div class="button_menu">
        <div class="button_select_main">
            <button>
                <a href="https://www.youtube.com/">youtube</a>
            </button>
        </div>
        <div class="button_select_main">
            <button>
                <a href="https://www.youtube.com/">youtube</a>
            </button>
        </div>
        <div class="button_select_main">
            <button>
                <a href="https://www.youtube.com/">youtube</a>
            </button>
        </div>
        <div class="button_select_main">
            <button>
                <div class="button_select_logo"></div>
                <a href="https://www.youtube.com/">youtube</a>
            </button>
        </div>
    </div>
    <div class="menu_footer_pic">
    a
    </div>



{% endblock %}